@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'prismjs/themes/prism-tomorrow.css';
/* 你也可以用 prism-okaidia.css、prism-coy.css、prism-solarizedlight.css 等 */

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-100;
  }

  /* 代码块样式 */
  pre {
    @apply p-4 rounded-lg overflow-x-auto;
  }

  code {
    @apply text-sm;
  }
}

/* 隐藏滚动条但保持滚动功能 */
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}