.ProseMirror p.is-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror p.is-empty:first-child {
  min-height: 1.5em;
}

/* 覆盖 prose 默认的 inline code 样式 */
.prose code::before,
.prose code::after {
  content: "" !important;
}

.prose code:not(pre code) {
  background-color: rgb(243 244 246);
  padding: 0.2em 0.4em;
  border-radius: 0.375rem;
  font-size: 0.875em;
  font-weight: 400;
}

/* 暗色主题样式 */
.dark .prose code:not(pre code) {
  background-color: rgb(31 41 55);
  color: rgb(209 213 219);
}